public/about.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hiiker</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body class="nav-about-page">
  <nav class="navigation navigation-inside">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="container">
            <div class="row">
              <div class="col-3 col-md-2">
                <div class="logo"><a class="logo__link"><img src="img/logo.png" alt=""></a></div>
              </div>
              <div class="col col-md-6 ml-auto">
                <form class="search-bar">
                  <div class="search-bar__wrap">
                    <input class="search-bar__input" type="text" placeholder="Enter a hiking trail">
                    <button class="search-bar__button"><span>Search</span></button>
                  </div>
                </form>
              </div>
              <div class="col-2 col-md-4 ml-auto">
                <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#"><span>APP</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>ABOUT</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>PRESS</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>BLOG</span></a></li>
                </ul>
                <div class="menu__mob">
                  <button class="menu__mob_btn"><span></span><span></span><span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <header class="header-inside about-page"></header>
  <section class="about-text">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="about-text__title">About Us</h2>
          <div class="about-text__wrap">
            <p class="about-text__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <p class="about-text__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="team__title">Meet the Team</h2>
          <ul class="team__wrapper">
            <li class="team__item">
              <figure class="team__member-avatar"><img src="img/team-0.jpg " alt="Avatar of Arlene Bryant"></figure>
              <div class="team__content">
                <h3 class="team__name">Arlene Bryant</h3>
                <p class="team__text">Co-founder, CEO</p>
              </div>
            </li>
            <li class="team__item">
              <figure class="team__member-avatar"><img src="img/team-1.jpg " alt="Avatar of Marion Escobar"></figure>
              <div class="team__content">
                <h3 class="team__name">Marion Escobar</h3>
                <p class="team__text">Co-Founder, CPO</p>
              </div>
            </li>
            <li class="team__item">
              <figure class="team__member-avatar"><img src="img/team-2.jpg " alt="Avatar of August Figueroa"></figure>
              <div class="team__content">
                <h3 class="team__name">August Figueroa</h3>
                <p class="team__text">Chief Operating Officer</p>
              </div>
            </li>
            <li class="team__item">
              <figure class="team__member-avatar"><img src="img/team-3.jpg " alt="Avatar of Madeline Wiggins"></figure>
              <div class="team__content">
                <h3 class="team__name">Madeline Wiggins</h3>
                <p class="team__text">Ice President of Employee Experience</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="about about_about-page"><img src="img/quote-img.png" alt="Some img">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-7 col-xl-10 ml-auto">
          <div class="about__wrap">
            <h2 class="about__title"><span>“</span>Best hiking app ever! Can’t leave home without it!
            </h2>
            <div class="about__wrap-text">
              <p class="about__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo!</p>
            </div>
            <div class="about__member">
              <h3 class="about__name">Anne</h3>
              <p class="about__place">Hessle, England</p>
              <ul class="about__stars">
                <li class="about__star-item">
                  <svg class="icon icon-star yelow">
                    <use xlink:href="img/sprinte/sprite.svg#star"></use>
                  </svg>
                </li>
                <li class="about__star-item">
                  <svg class="icon icon-star yelow">
                    <use xlink:href="img/sprinte/sprite.svg#star"></use>
                  </svg>
                </li>
                <li class="about__star-item">
                  <svg class="icon icon-star yelow">
                    <use xlink:href="img/sprinte/sprite.svg#star"></use>
                  </svg>
                </li>
                <li class="about__star-item">
                  <svg class="icon icon-star yelow">
                    <use xlink:href="img/sprinte/sprite.svg#star"></use>
                  </svg>
                </li>
                <li class="about__star-item">
                  <svg class="icon icon-star yelow">
                    <use xlink:href="img/sprinte/sprite.svg#star"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="news news_about"><img class="quick-links__img" src="img/footer-illustraion.png" alt="Footer illustration">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="news__title">Featured Articles</h2>
          <div class="news__wrap"><a class="news__card" href="#">
              <figure class="news__wrap-img"><img src="img/news-1.jpg" alt="Some alt for image №1"></figure>
              <div class="news__wrap-content">
                <h3 class="news__card-title">The lake is a long way from here.</h3>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="news__card" href="#">
              <figure class="news__wrap-img"><img src="img/news-2.jpg" alt="Some alt for image №2"></figure>
              <div class="news__wrap-content">
                <h3 class="news__card-title">I think I will buy the red car.</h3>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="news__card" href="#">
              <figure class="news__wrap-img"><img src="img/news-3.jpg" alt="Some alt for image №3"></figure>
              <div class="news__wrap-content">
                <h3 class="news__card-title">The waves were crashing on the shore.</h3>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="footer__wrap-logo-app">
            <div class="footer__logo"><a class="footer__logo-link" href="#"><img src="img/logo.png" alt="Logotype"></a></div>
            <div class="footer__app">
              <h2 class="footer__main-title">Get the App</h2>
              <div class="footer__wrap-btns"><a class="footer__btn footer__btn_ios" href="#"></a><a class="footer__btn footer__btn_google" href="#"></a></div>
            </div>
          </div>
          <div class="footer__wrap-other">
            <div class="footer__wrapper footer__wrapper_about">
              <h3 class="footer__smal-title">About</h3>
              <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p class="footer__text footer__copy">© Waymarked Trails 2019</p>
            </div>
            <div class="footer__wrapper footer__wrapper_contact">
              <h3 class="footer__smal-title">Contact</h3><a class="footer__text" href="#">+12 345 678 90</a><a class="footer__text" href="#">support@waymarkedtrails.com</a>
            </div>
            <div class="footer__wrapper footer__wrapper_social">
              <h3 class="footer__smal-title">Social</h3>
              <ul class="footer__social">
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-facebook soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#facebook"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-twitter soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#twitter"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-instagram soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#instagram"></use>
                      </svg></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/svg4everybody.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/main.js"></script>
</body>

app/pug/about.pug
include mainBlock/_doctype
- const content = mainText.aboutUsPage;
- const imgPath = mainVar.path.img;
- const svgColorPath = `${imgPath}colors-svg/`;
body.nav-about-page
    include mainBlock/_navigation-inside
    header.header-inside.about-page
    section.about-text
        .container
            .row
                .col-md-10.m-auto
                    h2.about-text__title= content.title
                    .about-text__wrap
                        - for(let i = 0; i < content.text.length; i++)
                            p.about-text__text= content.text[i]
    - const team = content.team;
    section.team
        .container
            .row
                .col-md-10.m-auto
                    h2.team__title= team.title
                    ul.team__wrapper
                        - for(let i = 0; i < team.members.length; i++)
                            li.team__item
                                figure.team__member-avatar
                                    img(src=`${imgPath}team-${i}.jpg `, alt=`Avatar of ${team.members[i][0]}`)
                                .team__content
                                    h3.team__name= team.members[i][0]              
                                    p.team__text= team.members[i][1]              
    - const quote = content.quoteSect;
    section.about.about_about-page
        img(src=`${mainVar.path.img}quote-img.png`, alt='Some img')
        .container
            .row
                .col-md-10.col-lg-7.col-xl-10.ml-auto
                    .about__wrap
                        h2.about__title
                            span= quote.title.split('<br>')[0]
                            = quote.title.split('<br>')[1]
                        .about__wrap-text
                            p.about__text= quote.text
                        .about__member
                            h3.about__name= quote.member.name
                            p.about__place= quote.member.form
                            ul.about__stars
                                - for(let i = 0; i < quote.member.stars; i++)
                                    li.about__star-item
                                        +icon('star', 'yelow')
    section.news.news_about
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.news__title= mainText.newsTitle.titleAboutUs
                    .news__wrap
                        - for(let i = 1; i <= 3; i++)
                            a(href="#").news__card
                                figure.news__wrap-img
                                    img(src=`${mainVar.path.img}news-${i}.jpg`, alt=`Some alt for image №${i}`)
                                .news__wrap-content
                                    h3.news__card-title= mainText.heroPage.news.items[`${i}`][0] 
                                    p.news__text= mainText.heroPage.news.items[`${i}`][1]
    include mainBlock/_footer
    include mainBlock/_scripts
