public/all-articles.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hiiker</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body class="nav-about-page nav-article-page">
  <nav class="navigation navigation-inside">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="container">
            <div class="row">
              <div class="col-3 col-md-2">
                <div class="logo"><a class="logo__link"><img src="img/logo.png" alt=""></a></div>
              </div>
              <div class="col col-md-6 ml-auto">
                <form class="search-bar">
                  <div class="search-bar__wrap">
                    <input class="search-bar__input" type="text" placeholder="Enter a hiking trail">
                    <button class="search-bar__button"><span>Search</span></button>
                  </div>
                </form>
              </div>
              <div class="col-2 col-md-4 ml-auto">
                <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#"><span>APP</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>ABOUT</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>PRESS</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>BLOG</span></a></li>
                </ul>
                <div class="menu__mob">
                  <button class="menu__mob_btn"><span></span><span></span><span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <header class="articles-header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-6 offset-md-1">
          <h1 class="articles-header__title">Waymarked Trails Featured Articles</h1>
          <form class="search-bar">
            <div class="search-bar__wrap">
              <input class="search-bar__input" type="text" placeholder="Search for Articles">
              <button class="search-bar__button"><span>Search</span></button>
            </div>
          </form>
        </div>
        <div class="col-md-10 m-auto">
          <div class="articles-header__last-wrap"><a class="articles-header__item articles-header__item_first" href="#"><img class="articles-header__item-img" src="img/articles/last-articles-0.jpg" alt="Article img №0">
              <div class="articles-header__content">
                <h3 class="articles-header__item-title">I really want to go to work, but I am too sick to drive.</h3>
                <p class="articles-header__text"><span>By: Anthony Diaz</span>|<span>July 04, 2018</span>
                </p>
              </div></a><a class="articles-header__item articles-header__item_second" href="#"><img class="articles-header__item-img" src="img/articles/last-articles-1.jpg" alt="Article img №1">
              <div class="articles-header__content">
                <h3 class="articles-header__item-title">They got there early, and they got really good seats.</h3>
                <p class="articles-header__text"><span>By: Anthony Diaz</span>|<span>July 04, 2018</span>
                </p>
              </div></a><a class="articles-header__item articles-header__item_third" href="#"><img class="articles-header__item-img" src="img/articles/last-articles-2.jpg" alt="Article img №2">
              <div class="articles-header__content">
                <h3 class="articles-header__item-title">The memory we used to share is no longer coherent.</h3>
                <p class="articles-header__text"><span>By: Anthony Diaz</span>|<span>July 04, 2018</span>
                </p>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="all-articles"><img class="quick-links__img" src="img/footer-illustraion.png" alt="Footer illustration">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="all-articles__title">All Articles</h2>
          <div class="all-articles__wrap"><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-0.jpg" alt="Some alt for image №0"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">The lake is a long way from here.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-1.jpg" alt="Some alt for image №1"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">I think I will buy the red car.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-2.jpg" alt="Some alt for image №2"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">The waves were crashing on the shore.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-3.jpg" alt="Some alt for image №3"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">If I don’t like something, I’ll stay away from it.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-4.jpg" alt="Some alt for image №4"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">I'd rather be a bird than a fish</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-5.jpg" alt="Some alt for image №5"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">He ran out of money, so he had to stop playing.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-0.jpg" alt="Some alt for image №6"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">The lake is a long way from here.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-1.jpg" alt="Some alt for image №7"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">I think I will buy the red car.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-2.jpg" alt="Some alt for image №8"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">The waves were crashing on the shore.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-3.jpg" alt="Some alt for image №9"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">If I don’t like something, I’ll stay away from it.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-4.jpg" alt="Some alt for image №10"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">I'd rather be a bird than a fish</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-5.jpg" alt="Some alt for image №11"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">He ran out of money, so he had to stop playing.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-0.jpg" alt="Some alt for image №12"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">The lake is a long way from here.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-1.jpg" alt="Some alt for image №13"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">I think I will buy the red car.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-2.jpg" alt="Some alt for image №14"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">The waves were crashing on the shore.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-3.jpg" alt="Some alt for image №15"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">If I don’t like something, I’ll stay away from it.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-4.jpg" alt="Some alt for image №16"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">I'd rather be a bird than a fish</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="all-articles__item" href="#">
              <figure class="all-articles__wrap-img"><img src="img/articles/all-articles-5.jpg" alt="Some alt for image №17"></figure>
              <div class="all-articles__wrap-content">
                <h3 class="all-articles__card-title">He ran out of money, so he had to stop playing.</h3>
                <p class="all-articles__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a>
          </div><a class="all-articles__load-more"><span>Load More</span><i>
              <svg class="icon icon-down-arrow orange">
                <use xlink:href="img/sprinte/sprite.svg#down-arrow"></use>
              </svg></i></a>
        </div>
      </div>
    </div>
  </section>
  <script src="js/svg4everybody.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/main.js"></script>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="footer__wrap-logo-app">
            <div class="footer__logo"><a class="footer__logo-link" href="#"><img src="img/logo.png" alt="Logotype"></a></div>
            <div class="footer__app">
              <h2 class="footer__main-title">Get the App</h2>
              <div class="footer__wrap-btns"><a class="footer__btn footer__btn_ios" href="#"></a><a class="footer__btn footer__btn_google" href="#"></a></div>
            </div>
          </div>
          <div class="footer__wrap-other">
            <div class="footer__wrapper footer__wrapper_about">
              <h3 class="footer__smal-title">About</h3>
              <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p class="footer__text footer__copy">© Waymarked Trails 2019</p>
            </div>
            <div class="footer__wrapper footer__wrapper_contact">
              <h3 class="footer__smal-title">Contact</h3><a class="footer__text" href="#">+12 345 678 90</a><a class="footer__text" href="#">support@waymarkedtrails.com</a>
            </div>
            <div class="footer__wrapper footer__wrapper_social">
              <h3 class="footer__smal-title">Social</h3>
              <ul class="footer__social">
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-facebook soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#facebook"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-twitter soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#twitter"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-instagram soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#instagram"></use>
                      </svg></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

app/pug/all-articles.pug
include mainBlock/_doctype
- const content = mainText.allArticlesPage;
- const imgPath = mainVar.path.img;
- const imgArticles = `${imgPath}articles/`;
body.nav-about-page.nav-article-page
    include mainBlock/_navigation-inside
    header.articles-header
        .container
            .row
                .col-md-10.col-lg-6.offset-md-1
                    h1.articles-header__title= content.searchBlock.title
                    form.search-bar
                        .search-bar__wrap
                            input(type="text" placeholder=`${content.searchBlock.placeholder}` class="search-bar__input")
                            button.search-bar__button
                                span= mainText.heroPage.searchbar.searchBtn
                .col-md-10.m-auto
                    .articles-header__last-wrap
                        - for(let i = 0; i < content.searchBlock.items.length; i++)
                            a(href="#" class=(i == 0) ? `articles-header__item articles-header__item_first` : (i == 1) ? `articles-header__item articles-header__item_second` : (i == 2) ? `articles-header__item articles-header__item_third` : `articles-header__item`)
                                img(src=`${imgArticles}last-articles-${i}.jpg`, alt=`Article img №${i}` class=`articles-header__item-img`)
                                .articles-header__content
                                    h3.articles-header__item-title= content.searchBlock.items[i][0]
                                    p.articles-header__text
                                        span= 'By: ' + content.searchBlock.items[i][1]
                                        = '|'
                                        span= content.searchBlock.items[i][2]
    - const newsBlock = content.articlesBlock;
    section.all-articles
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.all-articles__title= newsBlock.title
                    .all-articles__wrap
                        - for(let i = 0; i < newsBlock.items.length; i++)
                            a(href="#").all-articles__item
                                - const imgNum = newsBlock.items[i][0].split('+')[1];
                                figure.all-articles__wrap-img
                                    img(src=`${imgArticles}all-articles-${imgNum}.jpg`, alt=`Some alt for image №${i}`)
                                .all-articles__wrap-content
                                    h3.all-articles__card-title= newsBlock.items[i][1] 
                                    p.all-articles__text= newsBlock.items[i][2]
                    a.all-articles__load-more
                        span= newsBlock.loadMore
                        i
                            +icon('down-arrow', 'orange')
    include mainBlock/_scripts
    include mainBlock/_footer
