app/pug/app.pug
include mainBlock/_doctype
- const contentPress = mainText.press;
- const content = mainText.appPage;
- const imgPath = mainVar.path.img;
- const phones = `${imgPath}phones/`;

body.white-nav
    include mainBlock/_navigation
    - const header = content.header;
    header.header-inside.app-page-header
        .container
            .row
                .col-md-10.m-auto
                    .app-header
                        img(src=`${imgPath}logo-bg.png`, alt="Big logotype").app-header__bg-img
                        .app-header__wrap.app-header__wrap_left
                            figure.app-header__image
                                img(src=`${phones}phone-header.png`, alt="Screenshot aplication")
                        .app-header__wrap.app-header__wrap_right
                            h1.app-header__title= header.title
                            ul.app-header__wrapper
                                - for(let i = 0; i < header.items.length; i++)
                                    li.app-header__item
                                        .app-header__item-icon
                                            +icon((i == 0 ) ? `distance` : (i == 1) ? `elevation` : `filter`, 'soft-white')
                                        .app-header__item-text
                                            p.app-header__text= header.items[i]
                            .app-header__btns
                                a.app-header__link.app-header__link_ios
                                a.app-header__link.app-header__link_google
    - const advantage = content.sections;
    - for(let i = 0; i < advantage.titles.length; i++)
        section(class=`advantage-app advantage-app__sec_${i}`)
            .container
                .row
                    .col-md-10.m-auto
                        .advantage-app__wrapper
                            .advantage-app__wrap.advantage-app__wrap_left
                                .advantage-app__text-contet
                                    h2.advantage-app__title
                                        - if (i == 2 || i == 4) {
                                            strong= advantage.titles[i].split('|')[0]
                                            br
                                            = advantage.titles[i].split('|')[1]
                                        - } else {
                                            strong= advantage.titles[i].split('|')[0]
                                            = advantage.titles[i].split('|')[1]
                                        - }
                                    - if(i == 0)
                                        ul.advantage-app__icons
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/b-and-b.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/campground.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/hostel-icon.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/hotel-icon.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/shelter.svg`, alt="Icons")
                            .advantage-app__wrap.advantage-app__wrap_right
                                figure.advantage-app__img
                                    img(src=`${phones}phone-${i}.png`, alt=`Screenshot app №${i}`)
                
    - const review = contentPress.review;
    section.press-review
        .container
            .row
                .col-md-10.m-auto
                    .press-review__wrap
                        h2.press-review__title= review.title
                            ul.reviews__wrap
                                li.reviews__item
                                    .reviews__content
                                        .reviews__user-about
                                            .reviews__user
                                                .press-review__wrapper
                                                    h3.reviews__user-name=  `${review.text[2]} | ${review.text[3]}` 
                                                    p.reviews__user-date= 'June 28, 2019'
                                                - const stars = 5;
                                                ul.reviews__stars
                                                    - for(let i = 0; i < stars; i++)
                                                        li.reviews__star-item
                                                            +icon('star', 'yelow')
                                            .reviews__text-content
                                                    h3.press-review__comment-title= review.text[0]
                                                    p.reviews__text= review.text[1]
    section.dow-now
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    .dow-now__wrap
                        h2.dow-now__title Find us on
                        .dow-now__btns
                            a.dow-now__btn.dow-now__btn_ios
                            a.dow-now__btn.dow-now__btn_google

    include mainBlock/_footer
    include mainBlock/_scripts

public/app.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hiiker</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body class="white-nav">
  <nav class="navigation">
    <div class="container">
      <div class="row">
        <div class="col-3 col-md-2">
          <div class="logo"><a class="logo__link"><img src="img/logo.png" alt=""></a></div>
        </div>
        <div class="col-2 col-md-5 ml-auto">
          <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="#"><span>APP</span></a></li>
            <li class="menu__item"><a class="menu__link" href="#"><span>ABOUT</span></a></li>
            <li class="menu__item"><a class="menu__link" href="#"><span>PRESS</span></a></li>
            <li class="menu__item"><a class="menu__link" href="#"><span>BLOG</span></a></li>
          </ul>
          <div class="menu__mob">
            <button class="menu__mob_btn"><span></span><span></span><span></span></button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <header class="header-inside app-page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="app-header"><img class="app-header__bg-img" src="img/logo-bg.png" alt="Big logotype">
            <div class="app-header__wrap app-header__wrap_left">
              <figure class="app-header__image"><img src="img/phones/phone-header.png" alt="Screenshot aplication"></figure>
            </div>
            <div class="app-header__wrap app-header__wrap_right">
              <h1 class="app-header__title">HiiKER: Multiday hiking trails</h1>
              <ul class="app-header__wrapper">
                <li class="app-header__item">
                  <div class="app-header__item-icon">
                    <svg class="icon icon-distance soft-white">
                      <use xlink:href="img/sprinte/sprite.svg#distance"></use>
                    </svg>
                  </div>
                  <div class="app-header__item-text">
                    <p class="app-header__text">See all of the accommodation thats near the trail on one map. Know exactly how far it is from the trail.</p>
                  </div>
                </li>
                <li class="app-header__item">
                  <div class="app-header__item-icon">
                    <svg class="icon icon-elevation soft-white">
                      <use xlink:href="img/sprinte/sprite.svg#elevation"></use>
                    </svg>
                  </div>
                  <div class="app-header__item-text">
                    <p class="app-header__text">Over 300 trails ready to explore around the world with more added every day</p>
                  </div>
                </li>
                <li class="app-header__item">
                  <div class="app-header__item-icon">
                    <svg class="icon icon-filter soft-white">
                      <use xlink:href="img/sprinte/sprite.svg#filter"></use>
                    </svg>
                  </div>
                  <div class="app-header__item-text">
                    <p class="app-header__text">Offline Maps, offline everything. We build our product for the trail.</p>
                  </div>
                </li>
              </ul>
              <div class="app-header__btns"><a class="app-header__link app-header__link_ios"></a><a class="app-header__link app-header__link_google"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="advantage-app advantage-app__sec_0">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="advantage-app__wrapper">
            <div class="advantage-app__wrap advantage-app__wrap_left">
              <div class="advantage-app__text-contet">
                <h2 class="advantage-app__title"><strong>Stick to the trail,</strong> all the best accommodation near the trail
                </h2>
                <ul class="advantage-app__icons">
                  <li class="advantage-app__icon-item"><img src="img/colors-svg/b-and-b.svg" alt="Icons"></li>
                  <li class="advantage-app__icon-item"><img src="img/colors-svg/campground.svg" alt="Icons"></li>
                  <li class="advantage-app__icon-item"><img src="img/colors-svg/hostel-icon.svg" alt="Icons"></li>
                  <li class="advantage-app__icon-item"><img src="img/colors-svg/hotel-icon.svg" alt="Icons"></li>
                  <li class="advantage-app__icon-item"><img src="img/colors-svg/shelter.svg" alt="Icons"></li>
                </ul>
              </div>
            </div>
            <div class="advantage-app__wrap advantage-app__wrap_right">
              <figure class="advantage-app__img"><img src="img/phones/phone-0.png" alt="Screenshot app №0"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="advantage-app advantage-app__sec_1">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="advantage-app__wrapper">
            <div class="advantage-app__wrap advantage-app__wrap_left">
              <div class="advantage-app__text-contet">
                <h2 class="advantage-app__title"><strong>Hike when the weather</strong> is right. Use our long-term climate trends to decide what time of year is best for you.
                </h2>
              </div>
            </div>
            <div class="advantage-app__wrap advantage-app__wrap_right">
              <figure class="advantage-app__img"><img src="img/phones/phone-1.png" alt="Screenshot app №1"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="advantage-app advantage-app__sec_2">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="advantage-app__wrapper">
            <div class="advantage-app__wrap advantage-app__wrap_left">
              <div class="advantage-app__text-contet">
                <h2 class="advantage-app__title"><strong>Online, Offline, you’re safe.</strong><br> Access maps and trail information without cell coverage.
                </h2>
              </div>
            </div>
            <div class="advantage-app__wrap advantage-app__wrap_right">
              <figure class="advantage-app__img"><img src="img/phones/phone-2.png" alt="Screenshot app №2"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="advantage-app advantage-app__sec_3">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="advantage-app__wrapper">
            <div class="advantage-app__wrap advantage-app__wrap_left">
              <div class="advantage-app__text-contet">
                <h2 class="advantage-app__title"><strong>Stage by stage</strong> breakdown of the trail. Know the challenge for the day ahead.
                </h2>
              </div>
            </div>
            <div class="advantage-app__wrap advantage-app__wrap_right">
              <figure class="advantage-app__img"><img src="img/phones/phone-3.png" alt="Screenshot app №3"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="advantage-app advantage-app__sec_4">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="advantage-app__wrapper">
            <div class="advantage-app__wrap advantage-app__wrap_left">
              <div class="advantage-app__text-contet">
                <h2 class="advantage-app__title"><strong>Break from the crowd.</strong><br> Try one of our alternative routes.
                </h2>
              </div>
            </div>
            <div class="advantage-app__wrap advantage-app__wrap_right">
              <figure class="advantage-app__img"><img src="img/phones/phone-4.png" alt="Screenshot app №4"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="press-review">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="press-review__wrap">
            <h2 class="press-review__title">What our users say
              <ul class="reviews__wrap">
                <li class="reviews__item">
                  <div class="reviews__content">
                    <div class="reviews__user-about">
                      <div class="reviews__user">
                        <div class="press-review__wrapper">
                          <h3 class="reviews__user-name">BogdanCrius | iOS user</h3>
                          <p class="reviews__user-date">June 28, 2019</p>
                        </div>
                        <ul class="reviews__stars">
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                      </div>
                      <div class="reviews__text-content">
                        <h3 class="press-review__comment-title">Review Title</h3>
                        <p class="reviews__text">Review text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dow-now"><img class="quick-links__img" src="img/footer-illustraion.png" alt="Footer illustration">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="dow-now__wrap">
            <h2 class="dow-now__title">Find us on</h2>
            <div class="dow-now__btns"><a class="dow-now__btn dow-now__btn_ios"></a><a class="dow-now__btn dow-now__btn_google"></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="footer__wrap-logo-app">
            <div class="footer__logo"><a class="footer__logo-link" href="#"><img src="img/logo.png" alt="Logotype"></a></div>
            <div class="footer__app">
              <h2 class="footer__main-title">Get the App</h2>
              <div class="footer__wrap-btns"><a class="footer__btn footer__btn_ios" href="#"></a><a class="footer__btn footer__btn_google" href="#"></a></div>
            </div>
          </div>
          <div class="footer__wrap-other">
            <div class="footer__wrapper footer__wrapper_about">
              <h3 class="footer__smal-title">About</h3>
              <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p class="footer__text footer__copy">© Waymarked Trails 2019</p>
            </div>
            <div class="footer__wrapper footer__wrapper_contact">
              <h3 class="footer__smal-title">Contact</h3><a class="footer__text" href="#">+12 345 678 90</a><a class="footer__text" href="#">support@waymarkedtrails.com</a>
            </div>
            <div class="footer__wrapper footer__wrapper_social">
              <h3 class="footer__smal-title">Social</h3>
              <ul class="footer__social">
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-facebook soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#facebook"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-twitter soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#twitter"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-instagram soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#instagram"></use>
                      </svg></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/svg4everybody.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/main.js"></script>
</body>
