public/index.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hiiker</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body>
  <nav class="navigation">
    <div class="container">
      <div class="row">
        <div class="col-3 col-md-2">
          <div class="logo"><a class="logo__link"><img src="img/logo.png" alt=""></a></div>
        </div>
        <div class="col-2 col-md-5 ml-auto">
          <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="#"><span>APP</span></a></li>
            <li class="menu__item"><a class="menu__link" href="#"><span>ABOUT</span></a></li>
            <li class="menu__item"><a class="menu__link" href="#"><span>PRESS</span></a></li>
            <li class="menu__item"><a class="menu__link" href="#"><span>BLOG</span></a></li>
          </ul>
          <div class="menu__mob">
            <button class="menu__mob_btn"><span></span><span></span><span></span></button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-6 m-auto">
          <form class="search-bar">
            <div class="search-bar__wrap">
              <input class="search-bar__input" type="text" placeholder="Enter a hiking trail">
              <button class="search-bar__button"><span>Search</span></button>
            </div>
          </form>
          <div class="search-bar__wrap-btns"><a class="search-bar__btns search-bar__btns_map"><i>
                <svg class="icon icon-map white">
                  <use xlink:href="img/sprinte/sprite.svg#map"></use>
                </svg></i><span>Map View</span></a><a class="search-bar__btns search-bar__btns_adv-serch"><i>
                <svg class="icon icon-filter white">
                  <use xlink:href="img/sprinte/sprite.svg#filter"></use>
                </svg></i><span>Advanced Search</span></a></div>
        </div>
      </div>
    </div>
  </header>
  <section class="popular-sect">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="popular__wrap">
            <h2 class="popular__title">Popular Trails Near You</h2><a class="popular__link">Explore All</a>
          </div>
          <div class="slider popular__trails">
            <div class="swiper-container slider-trail">
              <div class="swiper-wrapper">
                <div class="swiper-slide popular__slider-item"><a class="popular__slider-link" href="#">
                    <div class="popular__wrap-img"><img src="img/trail-1.jpg" alt="Some alt of image №1"></div>
                    <h3 class="popular__slider-title">Pennine Way</h3></a></div>
                <div class="swiper-slide popular__slider-item"><a class="popular__slider-link" href="#">
                    <div class="popular__wrap-img"><img src="img/trail-2.jpg" alt="Some alt of image №2"></div>
                    <h3 class="popular__slider-title">Hadrian’s Wall Path</h3></a></div>
                <div class="swiper-slide popular__slider-item"><a class="popular__slider-link" href="#">
                    <div class="popular__wrap-img"><img src="img/trail-3.jpg" alt="Some alt of image №3"></div>
                    <h3 class="popular__slider-title">South West Coast Path</h3></a></div>
              </div>
            </div>
            <div class="popular__wrap-btn">
              <button class="popular__btn popular__btn_prev">
                <svg viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M228 0.5C288.8 0.5 345.9 24.1 388.9 67.2C431.9 110.3 455.6 167.3 455.6 228.1C455.6 288.9 432 346 388.9 389C345.9 431.9 288.8 455.7 228 455.7C167.2 455.7 110.1 431.9 67.1 388.9C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.1C110.1 24.1 167.2 0.5 228 0.5Z" fill="white"></path>
                  <path d="M170.5 228L265.9 323.4L285.5 303.9L209.6 228L285.5 152.1L265.9 132.6L170.5 228Z" fill="#828282"></path>
                </svg>
              </button>
              <button class="popular__btn popular__btn_next">
                <svg viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M228 455.5C167.2 455.5 110.1 431.9 67.1 388.8C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.0999C110.1 24.0999 167.2 0.399902 228 0.399902C288.8 0.399902 345.9 23.9999 388.9 67.0999C431.9 110.2 455.6 167.2 455.6 228C455.6 288.8 432 345.9 388.9 388.9C345.9 431.8 288.8 455.5 228 455.5Z" fill="white"></path>
                  <path d="M285.5 228L190.1 132.6L170.5 152.1L246.4 228L170.5 303.9L190.1 323.4L285.5 228Z" fill="#828282"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="featured-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-lg-3 offset-lg-2 col-xl-2 offset-xl-4">
          <div class="featured__wrap-text">
            <h2 class="featured__title">Featured Trails</h2>
            <p class="featured__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            <div class="featured__wrap-btn">
              <button class="featured__btn featured__btn_prev">
                <svg viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M228 0.5C288.8 0.5 345.9 24.1 388.9 67.2C431.9 110.3 455.6 167.3 455.6 228.1C455.6 288.9 432 346 388.9 389C345.9 431.9 288.8 455.7 228 455.7C167.2 455.7 110.1 431.9 67.1 388.9C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.1C110.1 24.1 167.2 0.5 228 0.5Z" fill="white"></path>
                  <path d="M170.5 228L265.9 323.4L285.5 303.9L209.6 228L285.5 152.1L265.9 132.6L170.5 228Z" fill="#828282"></path>
                </svg>
              </button>
              <button class="featured__btn featured__btn_next">
                <svg viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M228 455.5C167.2 455.5 110.1 431.9 67.1 388.8C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.0999C110.1 24.0999 167.2 0.399902 228 0.399902C288.8 0.399902 345.9 23.9999 388.9 67.0999C431.9 110.2 455.6 167.2 455.6 228C455.6 288.8 432 345.9 388.9 388.9C345.9 431.8 288.8 455.5 228 455.5Z" fill="white"></path>
                  <path d="M285.5 228L190.1 132.6L170.5 152.1L246.4 228L170.5 303.9L190.1 323.4L285.5 228Z" fill="#828282"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-7 col-xl-6">
          <div class="slider featured__trails">
            <div class="swiper-container slider-featured">
              <div class="swiper-wrapper">
                <div class="swiper-slide featured__slider-item"><a class="featured__slider-link" href="#">
                    <div class="featured__wrap-img"><img src="img/featured.jpg" alt="Some alt of image №0"></div>
                    <h3 class="featured__slider-title">Wicklow Way</h3></a></div>
                <div class="swiper-slide featured__slider-item"><a class="featured__slider-link" href="#">
                    <div class="featured__wrap-img"><img src="img/featured.jpg" alt="Some alt of image №1"></div>
                    <h3 class="featured__slider-title">Kerry Way</h3></a></div>
                <div class="swiper-slide featured__slider-item"><a class="featured__slider-link" href="#">
                    <div class="featured__wrap-img"><img src="img/featured.jpg" alt="Some alt of image №2"></div>
                    <h3 class="featured__slider-title">Wicklow Way</h3></a></div>
                <div class="swiper-slide featured__slider-item"><a class="featured__slider-link" href="#">
                    <div class="featured__wrap-img"><img src="img/featured.jpg" alt="Some alt of image №3"></div>
                    <h3 class="featured__slider-title">Kerry Way</h3></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="app-info-sect">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-5 ml-auto">
          <div class="app-info__wrapper">
            <h2 class="app-info__title">App Information</h2>
            <p class="app-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.</p>
            <div class="app-info__wrap-btn"><a class="app-info__btn app-info__btn_ios"></a><a class="app-info__btn app-info__btn_google"></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="app-feature-sect">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="app-feature__title">App Features</h2>
          <div class="app-feature__wrapper">
            <div class="app-feature__card app-feature__card_0"><span class="app-feature__icon"><span>icon<br>here</span></span>
              <h3 class="app-feature__card-title">App Feature 0</h3>
              <p class="app-feature__text">Lorem ipsum dolor sit amet, con secte tur adipiscing elit.</p>
            </div>
            <div class="app-feature__card app-feature__card_1"><span class="app-feature__icon"><span>icon<br>here</span></span>
              <h3 class="app-feature__card-title">App Feature 1</h3>
              <p class="app-feature__text">Lorem ipsum dolor sit amet, con secte tur adipiscing elit.</p>
            </div>
            <div class="app-feature__card app-feature__card_2"><span class="app-feature__icon"><span>icon<br>here</span></span>
              <h3 class="app-feature__card-title">App Feature 2</h3>
              <p class="app-feature__text">Lorem ipsum dolor sit amet, con secte tur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about"><img src="img/product-img.jpg" alt="Some img">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-7 col-xl-10 ml-auto">
          <div class="about__wrap">
            <h2 class="about__title">Nemo enim ipsam voluptatem<br>quia voluptas sit aspernatur
            </h2>
            <div class="about__wrap-text">
              <p class="about__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
              <p class="about__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="news">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="news__title">Latest News &amp; Updates</h2>
          <div class="news__wrap"><a class="news__card" href="#">
              <figure class="news__wrap-img"><img src="img/news-1.jpg" alt="Some alt for image №1"></figure>
              <div class="news__wrap-content">
                <h3 class="news__card-title">The lake is a long way from here.</h3>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="news__card" href="#">
              <figure class="news__wrap-img"><img src="img/news-2.jpg" alt="Some alt for image №2"></figure>
              <div class="news__wrap-content">
                <h3 class="news__card-title">I think I will buy the red car.</h3>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="news__card" href="#">
              <figure class="news__wrap-img"><img src="img/news-3.jpg" alt="Some alt for image №3"></figure>
              <div class="news__wrap-content">
                <h3 class="news__card-title">The waves were crashing on the shore.</h3>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="quick-links"><img class="quick-links__img" src="img/footer-illustraion.png" alt="Footer illustration">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="quick-links__title">Browse Trails Near Popular Cities</h2>
        </div>
        <div class="col-md-10 col-lg-8 m-auto">
          <div class="quick-links__wrap">
            <ul class="quick-links__wrap-list">
              <li class="quick-links__item"><a class="quick-links__link"><span>London</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Edinburgh</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Manchester</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Birmingham</span></a></li>
            </ul>
            <ul class="quick-links__wrap-list">
              <li class="quick-links__item"><a class="quick-links__link"><span>Glasgow</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Liverpool</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Bristol</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Oxford</span></a></li>
            </ul>
            <ul class="quick-links__wrap-list">
              <li class="quick-links__item"><a class="quick-links__link"><span>Cambridge</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Cardiff</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Brighton</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Newcastle-upon-Tyne and Gateshead</span></a></li>
            </ul>
            <ul class="quick-links__wrap-list">
              <li class="quick-links__item"><a class="quick-links__link"><span>Leeds</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>York</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Inverness</span></a></li>
              <li class="quick-links__item"><a class="quick-links__link"><span>Bath</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="footer__wrap-logo-app">
            <div class="footer__logo"><a class="footer__logo-link" href="#"><img src="img/logo.png" alt="Logotype"></a></div>
            <div class="footer__app">
              <h2 class="footer__main-title">Get the App</h2>
              <div class="footer__wrap-btns"><a class="footer__btn footer__btn_ios" href="#"></a><a class="footer__btn footer__btn_google" href="#"></a></div>
            </div>
          </div>
          <div class="footer__wrap-other">
            <div class="footer__wrapper footer__wrapper_about">
              <h3 class="footer__smal-title">About</h3>
              <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p class="footer__text footer__copy">© Waymarked Trails 2019</p>
            </div>
            <div class="footer__wrapper footer__wrapper_contact">
              <h3 class="footer__smal-title">Contact</h3><a class="footer__text" href="#">+12 345 678 90</a><a class="footer__text" href="#">support@waymarkedtrails.com</a>
            </div>
            <div class="footer__wrapper footer__wrapper_social">
              <h3 class="footer__smal-title">Social</h3>
              <ul class="footer__social">
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-facebook soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#facebook"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-twitter soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#twitter"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-instagram soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#instagram"></use>
                      </svg></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/svg4everybody.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/main.js"></script>
</body>

app/pug/index.pug
include mainBlock/_doctype
body
    include mainBlock/_navigation
    header.header
        .container
            .row
                .col-md-10.col-lg-6.m-auto
                    form.search-bar
                        .search-bar__wrap
                            input(type="text" placeholder=`${mainText.heroPage.searchbar.placeholder}` class="search-bar__input")
                            button.search-bar__button
                                span= mainText.heroPage.searchbar.searchBtn
                    .search-bar__wrap-btns
                        a.search-bar__btns.search-bar__btns_map
                            i
                                +icon('map', 'white')
                            span= mainText.heroPage.searchbar.otherBtns[0]
                        a.search-bar__btns.search-bar__btns_adv-serch
                            i
                                +icon('filter', 'white')
                            span= mainText.heroPage.searchbar.otherBtns[1]
    section.popular-sect
        .container
            .row
                .col-md-10.m-auto
                    .popular__wrap
                        h2.popular__title= mainText.heroPage.popularTrails.title
                        a.popular__link= mainText.heroPage.popularTrails.exploreLink
                    .slider.popular__trails
                        .swiper-container.slider-trail
                            .swiper-wrapper
                                - for(let i = 1; i < 4; i++)
                                    .swiper-slide.popular__slider-item
                                        a(href="#").popular__slider-link
                                            .popular__wrap-img
                                                img(src=`${mainVar.path.img}trail-${i}.jpg`, alt=`Some alt of image №${i}`)
                                            h3.popular__slider-title= mainText.heroPage.popularTrails.slider[i]
                        .popular__wrap-btn
                            button.popular__btn.popular__btn_prev
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 0.5C288.8 0.5 345.9 24.1 388.9 67.2C431.9 110.3 455.6 167.3 455.6 228.1C455.6 288.9 432 346 388.9 389C345.9 431.9 288.8 455.7 228 455.7C167.2 455.7 110.1 431.9 67.1 388.9C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.1C110.1 24.1 167.2 0.5 228 0.5Z" fill="white")
                                    path(d="M170.5 228L265.9 323.4L285.5 303.9L209.6 228L285.5 152.1L265.9 132.6L170.5 228Z" fill="#828282")
                            button.popular__btn.popular__btn_next
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 455.5C167.2 455.5 110.1 431.9 67.1 388.8C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.0999C110.1 24.0999 167.2 0.399902 228 0.399902C288.8 0.399902 345.9 23.9999 388.9 67.0999C431.9 110.2 455.6 167.2 455.6 228C455.6 288.8 432 345.9 388.9 388.9C345.9 431.8 288.8 455.5 228 455.5Z" fill="white")
                                    path(d="M285.5 228L190.1 132.6L170.5 152.1L246.4 228L170.5 303.9L190.1 323.4L285.5 228Z" fill="#828282")
    section.featured-sect
        .container-fluid
            .row
                .col-md-4.col-lg-3.offset-lg-2.col-xl-2.offset-xl-4
                    .featured__wrap-text
                        h2.featured__title= mainText.heroPage.featureTrails.title
                        p.featured__text= mainText.heroPage.featureTrails.text
                        .featured__wrap-btn
                            button.featured__btn.featured__btn_prev
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 0.5C288.8 0.5 345.9 24.1 388.9 67.2C431.9 110.3 455.6 167.3 455.6 228.1C455.6 288.9 432 346 388.9 389C345.9 431.9 288.8 455.7 228 455.7C167.2 455.7 110.1 431.9 67.1 388.9C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.1C110.1 24.1 167.2 0.5 228 0.5Z" fill="white")
                                    path(d="M170.5 228L265.9 323.4L285.5 303.9L209.6 228L285.5 152.1L265.9 132.6L170.5 228Z" fill="#828282")
                            button.featured__btn.featured__btn_next
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 455.5C167.2 455.5 110.1 431.9 67.1 388.8C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.0999C110.1 24.0999 167.2 0.399902 228 0.399902C288.8 0.399902 345.9 23.9999 388.9 67.0999C431.9 110.2 455.6 167.2 455.6 228C455.6 288.8 432 345.9 388.9 388.9C345.9 431.8 288.8 455.5 228 455.5Z" fill="white")
                                    path(d="M285.5 228L190.1 132.6L170.5 152.1L246.4 228L170.5 303.9L190.1 323.4L285.5 228Z" fill="#828282")
                .col-md-8.col-lg-7.col-xl-6
                    .slider.featured__trails
                        .swiper-container.slider-featured
                            .swiper-wrapper
                                - for(let i = 0; i < mainText.heroPage.featureTrails.slider.length; i++)
                                    .swiper-slide.featured__slider-item
                                        a(href="#").featured__slider-link
                                            .featured__wrap-img
                                                img(src=`${mainVar.path.img}featured.jpg`, alt=`Some alt of image №${i}`)
                                            h3.featured__slider-title= mainText.heroPage.featureTrails.slider[i]
    section.app-info-sect
        .container
            .row
                .col-md-10.col-lg-5.ml-auto
                    .app-info__wrapper
                        h2.app-info__title= mainText.heroPage.appInfo.title
                        p.app-info__text= mainText.heroPage.appInfo.text
                        .app-info__wrap-btn
                            a.app-info__btn.app-info__btn_ios
                            a.app-info__btn.app-info__btn_google
    section.app-feature-sect
        .container
            .row
                .col-md-10.m-auto
                    h2.app-feature__title= mainText.heroPage.appFeature.title
                    .app-feature__wrapper
                        - for(let i = 0; i <= 2; i++)
                            div(class=`app-feature__card app-feature__card_${i}`)
                                span.app-feature__icon
                                    span
                                        = "icon"    
                                        br
                                        = 'here'
                                h3.app-feature__card-title= mainText.heroPage.appFeature.items[0] + ` ${i}`
                                p.app-feature__text= mainText.heroPage.appFeature.items[1]
    section.about
        img(src=`${mainVar.path.img}product-img.jpg`, alt='Some img')
        .container
            .row
                .col-md-10.col-lg-7.col-xl-10.ml-auto
                    .about__wrap
                        h2.about__title
                            = mainText.heroPage.appFeature.titleTwo.split(' <br>')[0]
                            br
                            = mainText.heroPage.appFeature.titleTwo.split('<br> ')[1]
                        .about__wrap-text
                            p.about__text= mainText.heroPage.appFeature.text
                            p.about__text= mainText.heroPage.appFeature.text
    section.news
        .container
            .row
                .col-md-10.m-auto
                    h2.news__title= mainText.heroPage.news.title
                    .news__wrap
                        - for(let i = 1; i <= 3; i++)
                            a(href="#").news__card
                                figure.news__wrap-img
                                    img(src=`${mainVar.path.img}news-${i}.jpg`, alt=`Some alt for image №${i}`)
                                .news__wrap-content
                                    h3.news__card-title= mainText.heroPage.news.items[`${i}`][0] 
                                    p.news__text= mainText.heroPage.news.items[`${i}`][1]
    section.quick-links
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.quick-links__title= mainText.heroPage.popularLinks.title
                .col-md-10.col-lg-8.m-auto
                    .quick-links__wrap
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < mainText.heroPage.popularLinks.links1.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= mainText.heroPage.popularLinks.links1[i]
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < mainText.heroPage.popularLinks.links2.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= mainText.heroPage.popularLinks.links2[i]
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < mainText.heroPage.popularLinks.links3.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= mainText.heroPage.popularLinks.links3[i]
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < mainText.heroPage.popularLinks.links4.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= mainText.heroPage.popularLinks.links4[i]
    include mainBlock/_footer
    include mainBlock/_scripts
