app/pug/press.pug
include mainBlock/_doctype
- const content = mainText.press;
- const imgPath = mainVar.path.img;

body.nav-about-page
    include mainBlock/_navigation-inside
    header.header-inside.about-page
    section.about-text
        .container
            .row
                .col-md-10.m-auto
                    h2.about-text__title= content.title
                    .about-text__wrap
                        - for(let i = 0; i < content.text.length; i++)
                            p.about-text__text= content.text[i]
                        iframe(class="press-video" src="https://www.youtube.com/embed/fr5_xJJAV64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    - const review = content.review;
    section.press-review
        .container
            .row
                .col-md-10.m-auto
                    .press-review__wrap
                        h2.press-review__title= review.title
                            ul.reviews__wrap
                                li.reviews__item
                                    .reviews__content
                                        .reviews__user-about
                                            .reviews__user
                                                .press-review__wrapper
                                                    h3.reviews__user-name=  `${review.text[2]} | ${review.text[3]}` 
                                                    p.reviews__user-date= 'June 28, 2019'
                                                - const stars = 5;
                                                ul.reviews__stars
                                                    - for(let i = 0; i < stars; i++)
                                                        li.reviews__star-item
                                                            +icon('star', 'yelow')
                                            .reviews__text-content
                                                    h3.press-review__comment-title= review.text[0]
                                                    p.reviews__text= review.text[1]
    - const logos = content.logos;
    section.press-logos
        .container
            .row
                .col-md-10.m-auto
                    h2.press-logos__title= logos.title
                    .press-logos__wrap
                        figure.press-logos__img
                            img(src=`${imgPath}press/logo-svg.svg`, alt="Logo")
                        ul.press-logos__items
                            - for(let i = 0; i < logos.items.length; i++)
                                li.press-logos__item
                                    a.press-logos__link(href=`${logos.items[i][1]}`)
                                        span Download
                                            b= ' ' + logos.items[i][0]
    - const images = content.images;
    section.press-images
        .container
            .row
                .col-md-10.m-auto
                    h2.press-images__title Images
                    ul.press-images__wrap
                        - for(let i = 0; i < images.length; i++)
                                li.press-images__item
                                    figure.press-images__wrap-img
                                        img(src=`${images[i]}`, alt=`Image #${i}`)
                                    .press-images__content
                                        a(href=`${images[i]}`).press-images__link
                                            span Download image
                    a(href="#").press-images__all-link Download all images
    section.press-other
        .container
            .row
                .col-md-10.m-auto
                    h2.press-other__title App Store and Google Play Link
                    ul.press-other__wrap
                        li.press-other__item
                            a(href="#").press-other__link= content.links[0]
                        li.press-other__item
                            a(href="#").press-other__link= content.links[1]
                    p.press-other__contact-us
                        = content.contactUs[0]
                        a(href=`mailto:${content.contactUs[1]}`)= ' ' + content.contactUs[1]

    include mainBlock/_footer
    include mainBlock/_scripts

public/press.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hiiker</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body class="nav-about-page">
  <nav class="navigation navigation-inside">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="container">
            <div class="row">
              <div class="col-3 col-md-2">
                <div class="logo"><a class="logo__link"><img src="img/logo.png" alt=""></a></div>
              </div>
              <div class="col col-md-6 ml-auto">
                <form class="search-bar">
                  <div class="search-bar__wrap">
                    <input class="search-bar__input" type="text" placeholder="Enter a hiking trail">
                    <button class="search-bar__button"><span>Search</span></button>
                  </div>
                </form>
              </div>
              <div class="col-2 col-md-4 ml-auto">
                <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#"><span>APP</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>ABOUT</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>PRESS</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>BLOG</span></a></li>
                </ul>
                <div class="menu__mob">
                  <button class="menu__mob_btn"><span></span><span></span><span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <header class="header-inside about-page"></header>
  <section class="about-text">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="about-text__title">Press</h2>
          <div class="about-text__wrap">
            <p class="about-text__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <p class="about-text__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            <iframe class="press-video" src="https://www.youtube.com/embed/fr5_xJJAV64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="press-review">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="press-review__wrap">
            <h2 class="press-review__title">What our users say
              <ul class="reviews__wrap">
                <li class="reviews__item">
                  <div class="reviews__content">
                    <div class="reviews__user-about">
                      <div class="reviews__user">
                        <div class="press-review__wrapper">
                          <h3 class="reviews__user-name">BogdanCrius | iOS user</h3>
                          <p class="reviews__user-date">June 28, 2019</p>
                        </div>
                        <ul class="reviews__stars">
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="reviews__star-item">
                            <svg class="icon icon-star yelow">
                              <use xlink:href="img/sprinte/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                      </div>
                      <div class="reviews__text-content">
                        <h3 class="press-review__comment-title">Review Title</h3>
                        <p class="reviews__text">Review text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="press-logos">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="press-logos__title">Logo</h2>
          <div class="press-logos__wrap">
            <figure class="press-logos__img"><img src="img/press/logo-svg.svg" alt="Logo"></figure>
            <ul class="press-logos__items">
              <li class="press-logos__item"><a class="press-logos__link" href="img/press/logo@3x.png"><span>Download<b> PNG 1024x1024</b></span></a></li>
              <li class="press-logos__item"><a class="press-logos__link" href="img/press/logo@2x.png"><span>Download<b> PNG 512x512</b></span></a></li>
              <li class="press-logos__item"><a class="press-logos__link" href="img/press/logo-svg.svg"><span>Download<b> SVG</b></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="press-images">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="press-images__title">Images</h2>
          <ul class="press-images__wrap">
            <li class="press-images__item">
              <figure class="press-images__wrap-img"><img src="https://images.unsplash.com/photo-1512486754243-f38ddb8e53b6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80" alt="Image #0"></figure>
              <div class="press-images__content"><a class="press-images__link" href="https://images.unsplash.com/photo-1512486754243-f38ddb8e53b6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80"><span>Download image</span></a></div>
            </li>
            <li class="press-images__item">
              <figure class="press-images__wrap-img"><img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80" alt="Image #1"></figure>
              <div class="press-images__content"><a class="press-images__link" href="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80"><span>Download image</span></a></div>
            </li>
            <li class="press-images__item">
              <figure class="press-images__wrap-img"><img src="https://images.unsplash.com/photo-1512054502232-10a0a035d672?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80" alt="Image #2"></figure>
              <div class="press-images__content"><a class="press-images__link" href="https://images.unsplash.com/photo-1512054502232-10a0a035d672?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80"><span>Download image</span></a></div>
            </li>
            <li class="press-images__item">
              <figure class="press-images__wrap-img"><img src="https://images.unsplash.com/photo-1512487006891-a6317ce86a27?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80" alt="Image #3"></figure>
              <div class="press-images__content"><a class="press-images__link" href="https://images.unsplash.com/photo-1512487006891-a6317ce86a27?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=80"><span>Download image</span></a></div>
            </li>
          </ul><a class="press-images__all-link" href="#">Download all images</a>
        </div>
      </div>
    </div>
  </section>
  <section class="press-other">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="press-other__title">App Store and Google Play Link</h2>
          <ul class="press-other__wrap">
            <li class="press-other__item"><a class="press-other__link" href="#">Link to App Store (IOS)</a></li>
            <li class="press-other__item"><a class="press-other__link" href="#">Link to Google Play (Androind)</a></li>
          </ul>
          <p class="press-other__contact-us">If you can't find something you need, please contact us at<a href="mailto:support@hiiker.co"> support@hiiker.co</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="footer__wrap-logo-app">
            <div class="footer__logo"><a class="footer__logo-link" href="#"><img src="img/logo.png" alt="Logotype"></a></div>
            <div class="footer__app">
              <h2 class="footer__main-title">Get the App</h2>
              <div class="footer__wrap-btns"><a class="footer__btn footer__btn_ios" href="#"></a><a class="footer__btn footer__btn_google" href="#"></a></div>
            </div>
          </div>
          <div class="footer__wrap-other">
            <div class="footer__wrapper footer__wrapper_about">
              <h3 class="footer__smal-title">About</h3>
              <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p class="footer__text footer__copy">© Waymarked Trails 2019</p>
            </div>
            <div class="footer__wrapper footer__wrapper_contact">
              <h3 class="footer__smal-title">Contact</h3><a class="footer__text" href="#">+12 345 678 90</a><a class="footer__text" href="#">support@waymarkedtrails.com</a>
            </div>
            <div class="footer__wrapper footer__wrapper_social">
              <h3 class="footer__smal-title">Social</h3>
              <ul class="footer__social">
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-facebook soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#facebook"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-twitter soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#twitter"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-instagram soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#instagram"></use>
                      </svg></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/svg4everybody.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/main.js"></script>
</body>
