app/pug/type.pug
include mainBlock/_doctype
- const individualContent = mainText.individTrail;
- const content = mainText.countryPage;
- const imgPath = mainVar.path.img;
- const svgColorPath = `${imgPath}colors-svg/`;
body
    include mainBlock/_navigation-inside
    header.header-inside.individual-trail.country-page
        .container
            .row
                .col-11.col-md-10.m-auto
                    .about-trail
                        .about-trail__wrap-left
                            h1.about-trail__title Coastal Routes in Lreland
                        .about-trail__wrap-right.ml-auto
                            a.about-trail__btn-view-map
                                i.about-trail__btn-map-icon
                                    +icon('map', 'white')
                                span= individualContent.header.btn
    section.trail-info.trail-country
        .container
            .row
                - const textSect = content.textSect;
                .col-11.col-md-10.m-auto
                    .trail-info__wrapper
                        .trail-info__wrap.trail-info__wrap_left
                            ul.breadCrumbs
                                a(href="#")= mainText.countryPage.breadCrumbs[0] + ' '
                                =' >> '
                                = ' ' + mainText.countryPage.breadCrumbs[1]
                            .trail-country__desc
                                h2.trail-country__desc-title= textSect.title
                                .trail-country__desc-wrap
                                    p.trail-country__desc-text= textSect.text
                                            
                        .trail-info__wrap.trail-info__wrap_right
                            .trail-info__view-map
                                figure.trail-info__map-img
                                    img(src=`${imgPath}map-img.jpg`, alt="Map Image")
                                a(href="#").trail-info__btn-map
                                    i.trail-info__ico-map
                                        +icon('map', 'white')
                                    span.trail-info__btn-text= individualContent.header.btn
                            
                            .trail-info__climat
                                h2.trail-info__climat-title= individualContent.climateInfo.title
                                ul.trail-info__climat-wrap
                                    - let climatItem = individualContent.climateInfo.items;
                                    - for(let i = 0; i < climatItem.length; i++)
                                        - let climatIcon = climatItem[i].toLowerCase();
                                        li.trail-info__climat-item
                                            button(data-climat=`${climatItem[i].toLowerCase()}`).cl-item
                                                figure.trail-info__climat-icon
                                                    img(src=`${svgColorPath}${climatIcon}.svg`, alt=`Icom climat ${climatIcon}`)
                                                p.trail-info__climat-text= climatItem[i]
                            
    - const popular = content.popularTrails;
    section.trail-dop-info.trail-country-popular
        .container
            .row
                .col-11.col-lg-7.col-md-10.offset-md-1.m-mob-auto
                    h2.trail-country__popular-title.type-page-tags= popular.title
                    .trail-country__popular-trails
                        - for(let i = 0; i < popular.cards.length; i++)
                            a(href="#").trail-country__popular-card
                                figure.trail-country__popular-img
                                    img(src=`${imgPath}articles/all-articles-${i}.jpg`, alt=`${popular.cards[i][0]}`)
                                .trail-country__popular-content
                                    h3.trail-country__popular-item-title= popular.cards[i][0]
                                    .trail-country__popular-place
                                        i
                                            +icon('pin', 'soft-white')
                                        span= popular.cards[i][1]
                                    .trail-country__popular-stars
                                        ul.trail-country__popular-stars-wrap
                                            - for(let y = 0; y < popular.cards[i][2]; y++)
                                                li.trail-country__popular-stars-item
                                                    +icon('star', 'yelow')
                                        .trail-country__popular-stars-text= popular.cards[i][3]
                    .trail-country__popular-more
                        a(href="#").trail-country__popular-more-btn
                            span= popular.btn
                            i
                                +icon('down-arrow', 'orange')
                .col-lg-4.col-md-10.offset-md-1.offset-lg-0
                    - const tags = content.categories;
                    .trail-country__tags
                        h2.trail-country__tags-title= tags.title
                        ul.trail-country__tags-wrap
                            - for(let i = 0; i < tags.tags.length; i++)
                                li.trail-country__tags-item
                                    a.trail-country__tags-link(href="#")
                                        span= tags.tags[i]
                        .trail-country__tags-more
                            a(href="#").trail-country__tags-more-btn
                                span= tags.btn
                                i
                                    +icon('down-arrow', 'orange')
                    
    section.news.news-inside
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.news__title
                        = mainText.heroPage.news.title
                    .news__wrap
                        - for(let i = 1; i <= 3; i++)
                            a(href="#").news__card
                                figure.news__wrap-img
                                    img(src=`${mainVar.path.img}news-${i}.jpg`, alt=`Some alt for image №${i}`)
                                .news__wrap-content
                                    h3.news__card-title= mainText.heroPage.news.items[`${i}`][0] 
                                    p.news__text= mainText.heroPage.news.items[`${i}`][1]
    - const modal = mainText.modalClimat;
    //- - console.log(modal)
                            
    .overlay
    include mainBlock/_footer
    //- ToDo Сделать модальные окна
    .modal.mod-clim
        .modal__wrap.modal__wrap-top.mod-title
            .modal__title-wrapper
                - for(let i = 0; i < modal.titles.length; i++)
                    div(data-show data-climat=`${modal.titles[i].toLowerCase()}`).modal__wrap-title.md-title
                        .modal__title-icon
                            img(src=`${svgColorPath}${modal.titles[i].toLowerCase()}.svg`, alt=`Icon ${modal.titles[i]}`)
                        h2.modal__title= modal.titles[i]
            button.modal__close.mod-cl
                span
                span
        .modal__content
            .modal__options
                h3.modal__subtitle= modal.title
                ul.modal__wrap-options
                    - for(let i = 0; i < modal.options.length; i++)
                        li.modal__option-item
                            button(data-modal-type, data-option=`${modal.options[i].toLowerCase().split(' <br>')[0].split(' ').join('-')}`).modal__option-btn.mod-btn
                                span.modal__option-icon
                                span.modal__option-text
                                    = modal.options[i].split(' <br>')[0]
                                    span.modal__option-text-small= modal.options[i].split(' <br>')[1]
            .modal__charts.m-ch
            
    include mainBlock/_scripts
                                    
                    

public/type.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hiiker</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body>
  <nav class="navigation navigation-inside">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="container">
            <div class="row">
              <div class="col-3 col-md-2">
                <div class="logo"><a class="logo__link"><img src="img/logo.png" alt=""></a></div>
              </div>
              <div class="col col-md-6 ml-auto">
                <form class="search-bar">
                  <div class="search-bar__wrap">
                    <input class="search-bar__input" type="text" placeholder="Enter a hiking trail">
                    <button class="search-bar__button"><span>Search</span></button>
                  </div>
                </form>
              </div>
              <div class="col-2 col-md-4 ml-auto">
                <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#"><span>APP</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>ABOUT</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>PRESS</span></a></li>
                  <li class="menu__item"><a class="menu__link" href="#"><span>BLOG</span></a></li>
                </ul>
                <div class="menu__mob">
                  <button class="menu__mob_btn"><span></span><span></span><span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <header class="header-inside individual-trail country-page">
    <div class="container">
      <div class="row">
        <div class="col-11 col-md-10 m-auto">
          <div class="about-trail">
            <div class="about-trail__wrap-left">
              <h1 class="about-trail__title">Coastal Routes in Lreland</h1>
            </div>
            <div class="about-trail__wrap-right ml-auto"><a class="about-trail__btn-view-map"><i class="about-trail__btn-map-icon">
                  <svg class="icon icon-map white">
                    <use xlink:href="img/sprinte/sprite.svg#map"></use>
                  </svg></i><span>View map</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="trail-info trail-country">
    <div class="container">
      <div class="row">
        <div class="col-11 col-md-10 m-auto">
          <div class="trail-info__wrapper">
            <div class="trail-info__wrap trail-info__wrap_left">
              <ul class="breadCrumbs"><a href="#">Trails </a> &gt;&gt;  Ireland
              </ul>
              <div class="trail-country__desc">
                <h2 class="trail-country__desc-title">Walking in Ireland</h2>
                <div class="trail-country__desc-wrap">
                  <p class="trail-country__desc-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
              </div>
            </div>
            <div class="trail-info__wrap trail-info__wrap_right">
              <div class="trail-info__view-map">
                <figure class="trail-info__map-img"><img src="img/map-img.jpg" alt="Map Image"></figure><a class="trail-info__btn-map" href="#"><i class="trail-info__ico-map">
                    <svg class="icon icon-map white">
                      <use xlink:href="img/sprinte/sprite.svg#map"></use>
                    </svg></i><span class="trail-info__btn-text">View map</span></a>
              </div>
              <div class="trail-info__climat">
                <h2 class="trail-info__climat-title">Climate Info</h2>
                <ul class="trail-info__climat-wrap">
                  <li class="trail-info__climat-item">
                    <button class="cl-item" data-climat="spring">
                      <figure class="trail-info__climat-icon"><img src="img/colors-svg/spring.svg" alt="Icom climat spring"></figure>
                      <p class="trail-info__climat-text">Spring</p>
                    </button>
                  </li>
                  <li class="trail-info__climat-item">
                    <button class="cl-item" data-climat="summer">
                      <figure class="trail-info__climat-icon"><img src="img/colors-svg/summer.svg" alt="Icom climat summer"></figure>
                      <p class="trail-info__climat-text">Summer</p>
                    </button>
                  </li>
                  <li class="trail-info__climat-item">
                    <button class="cl-item" data-climat="autumn">
                      <figure class="trail-info__climat-icon"><img src="img/colors-svg/autumn.svg" alt="Icom climat autumn"></figure>
                      <p class="trail-info__climat-text">Autumn</p>
                    </button>
                  </li>
                  <li class="trail-info__climat-item">
                    <button class="cl-item" data-climat="winter">
                      <figure class="trail-info__climat-icon"><img src="img/colors-svg/winter.svg" alt="Icom climat winter"></figure>
                      <p class="trail-info__climat-text">Winter</p>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="trail-dop-info trail-country-popular">
    <div class="container">
      <div class="row">
        <div class="col-11 col-lg-7 col-md-10 offset-md-1 m-mob-auto">
          <h2 class="trail-country__popular-title type-page-tags">Popular Trails</h2>
          <div class="trail-country__popular-trails"><a class="trail-country__popular-card" href="#">
              <figure class="trail-country__popular-img"><img src="img/articles/all-articles-0.jpg" alt="The Ireland Way®"></figure>
              <div class="trail-country__popular-content">
                <h3 class="trail-country__popular-item-title">The Ireland Way®</h3>
                <div class="trail-country__popular-place"><i>
                    <svg class="icon icon-pin soft-white">
                      <use xlink:href="img/sprinte/sprite.svg#pin"></use>
                    </svg></i><span>West Cork, Ireland</span></div>
                <div class="trail-country__popular-stars">
                  <ul class="trail-country__popular-stars-wrap">
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <div class="trail-country__popular-stars-text">(32 Reviews)</div>
                </div>
              </div></a><a class="trail-country__popular-card" href="#">
              <figure class="trail-country__popular-img"><img src="img/articles/all-articles-1.jpg" alt="Wicklow Way"></figure>
              <div class="trail-country__popular-content">
                <h3 class="trail-country__popular-item-title">Wicklow Way</h3>
                <div class="trail-country__popular-place"><i>
                    <svg class="icon icon-pin soft-white">
                      <use xlink:href="img/sprinte/sprite.svg#pin"></use>
                    </svg></i><span>Wicklow, Ireland</span></div>
                <div class="trail-country__popular-stars">
                  <ul class="trail-country__popular-stars-wrap">
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <div class="trail-country__popular-stars-text">(25 Reviews)</div>
                </div>
              </div></a><a class="trail-country__popular-card" href="#">
              <figure class="trail-country__popular-img"><img src="img/articles/all-articles-2.jpg" alt="Kerry Camino"></figure>
              <div class="trail-country__popular-content">
                <h3 class="trail-country__popular-item-title">Kerry Camino</h3>
                <div class="trail-country__popular-place"><i>
                    <svg class="icon icon-pin soft-white">
                      <use xlink:href="img/sprinte/sprite.svg#pin"></use>
                    </svg></i><span>Kerry, Ireland</span></div>
                <div class="trail-country__popular-stars">
                  <ul class="trail-country__popular-stars-wrap">
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <div class="trail-country__popular-stars-text">(45 Reviews)</div>
                </div>
              </div></a><a class="trail-country__popular-card" href="#">
              <figure class="trail-country__popular-img"><img src="img/articles/all-articles-3.jpg" alt="Dublin Mountains Way"></figure>
              <div class="trail-country__popular-content">
                <h3 class="trail-country__popular-item-title">Dublin Mountains Way</h3>
                <div class="trail-country__popular-place"><i>
                    <svg class="icon icon-pin soft-white">
                      <use xlink:href="img/sprinte/sprite.svg#pin"></use>
                    </svg></i><span>Dublin, Ireland</span></div>
                <div class="trail-country__popular-stars">
                  <ul class="trail-country__popular-stars-wrap">
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <div class="trail-country__popular-stars-text">(10 Reviews)</div>
                </div>
              </div></a><a class="trail-country__popular-card" href="#">
              <figure class="trail-country__popular-img"><img src="img/articles/all-articles-4.jpg" alt="South Leinster Way"></figure>
              <div class="trail-country__popular-content">
                <h3 class="trail-country__popular-item-title">South Leinster Way</h3>
                <div class="trail-country__popular-place"><i>
                    <svg class="icon icon-pin soft-white">
                      <use xlink:href="img/sprinte/sprite.svg#pin"></use>
                    </svg></i><span>Lackabeg, Ireland</span></div>
                <div class="trail-country__popular-stars">
                  <ul class="trail-country__popular-stars-wrap">
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <div class="trail-country__popular-stars-text">(1 Reviews)</div>
                </div>
              </div></a><a class="trail-country__popular-card" href="#">
              <figure class="trail-country__popular-img"><img src="img/articles/all-articles-5.jpg" alt="South Leinster Way"></figure>
              <div class="trail-country__popular-content">
                <h3 class="trail-country__popular-item-title">South Leinster Way</h3>
                <div class="trail-country__popular-place"><i>
                    <svg class="icon icon-pin soft-white">
                      <use xlink:href="img/sprinte/sprite.svg#pin"></use>
                    </svg></i><span>Lackabeg, Ireland</span></div>
                <div class="trail-country__popular-stars">
                  <ul class="trail-country__popular-stars-wrap">
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="trail-country__popular-stars-item">
                      <svg class="icon icon-star yelow">
                        <use xlink:href="img/sprinte/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <div class="trail-country__popular-stars-text">(99+ Reviews)</div>
                </div>
              </div></a>
          </div>
          <div class="trail-country__popular-more"><a class="trail-country__popular-more-btn" href="#"><span>See more popular trails</span><i>
                <svg class="icon icon-down-arrow orange">
                  <use xlink:href="img/sprinte/sprite.svg#down-arrow"></use>
                </svg></i></a></div>
        </div>
        <div class="col-lg-4 col-md-10 offset-md-1 offset-lg-0">
          <div class="trail-country__tags">
            <h2 class="trail-country__tags-title">Trail Caterogies</h2>
            <ul class="trail-country__tags-wrap">
              <li class="trail-country__tags-item"><a class="trail-country__tags-link" href="#"><span>Coastal Trails</span></a></li>
              <li class="trail-country__tags-item"><a class="trail-country__tags-link" href="#"><span>Easy</span></a></li>
              <li class="trail-country__tags-item"><a class="trail-country__tags-link" href="#"><span>Hard</span></a></li>
              <li class="trail-country__tags-item"><a class="trail-country__tags-link" href="#"><span>River Trails</span></a></li>
              <li class="trail-country__tags-item"><a class="trail-country__tags-link" href="#"><span>Bugret Trails</span></a></li>
              <li class="trail-country__tags-item"><a class="trail-country__tags-link" href="#"><span>Camping Trails</span></a></li>
              <li class="trail-country__tags-item"><a class="trail-country__tags-link" href="#"><span>Historic Trails</span></a></li>
            </ul>
            <div class="trail-country__tags-more"><a class="trail-country__tags-more-btn" href="#"><span>See more categories</span><i>
                  <svg class="icon icon-down-arrow orange">
                    <use xlink:href="img/sprinte/sprite.svg#down-arrow"></use>
                  </svg></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="news news-inside"><img class="quick-links__img" src="img/footer-illustraion.png" alt="Footer illustration">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <h2 class="news__title">Latest News &amp; Updates
          </h2>
          <div class="news__wrap"><a class="news__card" href="#">
              <figure class="news__wrap-img"><img src="img/news-1.jpg" alt="Some alt for image №1"></figure>
              <div class="news__wrap-content">
                <h3 class="news__card-title">The lake is a long way from here.</h3>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="news__card" href="#">
              <figure class="news__wrap-img"><img src="img/news-2.jpg" alt="Some alt for image №2"></figure>
              <div class="news__wrap-content">
                <h3 class="news__card-title">I think I will buy the red car.</h3>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a><a class="news__card" href="#">
              <figure class="news__wrap-img"><img src="img/news-3.jpg" alt="Some alt for image №3"></figure>
              <div class="news__wrap-content">
                <h3 class="news__card-title">The waves were crashing on the shore.</h3>
                <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="overlay"></div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="footer__wrap-logo-app">
            <div class="footer__logo"><a class="footer__logo-link" href="#"><img src="img/logo.png" alt="Logotype"></a></div>
            <div class="footer__app">
              <h2 class="footer__main-title">Get the App</h2>
              <div class="footer__wrap-btns"><a class="footer__btn footer__btn_ios" href="#"></a><a class="footer__btn footer__btn_google" href="#"></a></div>
            </div>
          </div>
          <div class="footer__wrap-other">
            <div class="footer__wrapper footer__wrapper_about">
              <h3 class="footer__smal-title">About</h3>
              <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <p class="footer__text footer__copy">© Waymarked Trails 2019</p>
            </div>
            <div class="footer__wrapper footer__wrapper_contact">
              <h3 class="footer__smal-title">Contact</h3><a class="footer__text" href="#">+12 345 678 90</a><a class="footer__text" href="#">support@waymarkedtrails.com</a>
            </div>
            <div class="footer__wrapper footer__wrapper_social">
              <h3 class="footer__smal-title">Social</h3>
              <ul class="footer__social">
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-facebook soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#facebook"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-twitter soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#twitter"></use>
                      </svg></span></a></li>
                <li class="footer__social-item"><a class="footer__social-link" href="#"><span>
                      <svg class="icon icon-instagram soft-white">
                        <use xlink:href="img/sprinte/sprite.svg#instagram"></use>
                      </svg></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="modal mod-clim">
    <div class="modal__wrap modal__wrap-top mod-title">
      <div class="modal__title-wrapper">
        <div class="modal__wrap-title md-title" data-show data-climat="spring">
          <div class="modal__title-icon"><img src="img/colors-svg/spring.svg" alt="Icon Spring"></div>
          <h2 class="modal__title">Spring</h2>
        </div>
        <div class="modal__wrap-title md-title" data-show data-climat="summer">
          <div class="modal__title-icon"><img src="img/colors-svg/summer.svg" alt="Icon Summer"></div>
          <h2 class="modal__title">Summer</h2>
        </div>
        <div class="modal__wrap-title md-title" data-show data-climat="autumn">
          <div class="modal__title-icon"><img src="img/colors-svg/autumn.svg" alt="Icon Autumn"></div>
          <h2 class="modal__title">Autumn</h2>
        </div>
        <div class="modal__wrap-title md-title" data-show data-climat="winter">
          <div class="modal__title-icon"><img src="img/colors-svg/winter.svg" alt="Icon Winter"></div>
          <h2 class="modal__title">Winter</h2>
        </div>
      </div>
      <button class="modal__close mod-cl"><span></span><span></span></button>
    </div>
    <div class="modal__content">
      <div class="modal__options">
        <h3 class="modal__subtitle">Choose an option:</h3>
        <ul class="modal__wrap-options">
          <li class="modal__option-item">
            <button class="modal__option-btn mod-btn" data-modal-type data-option="avg-temp"><span class="modal__option-icon"></span><span class="modal__option-text">Avg Temp<span class="modal__option-text-small">10.1</span></span></button>
          </li>
          <li class="modal__option-item">
            <button class="modal__option-btn mod-btn" data-modal-type data-option="max-temp"><span class="modal__option-icon"></span><span class="modal__option-text">Max Temp<span class="modal__option-text-small">16.1</span></span></button>
          </li>
          <li class="modal__option-item">
            <button class="modal__option-btn mod-btn" data-modal-type data-option="min-humidity"><span class="modal__option-icon"></span><span class="modal__option-text">Min Humidity<span class="modal__option-text-small">10.1</span></span></button>
          </li>
          <li class="modal__option-item">
            <button class="modal__option-btn mod-btn" data-modal-type data-option="avg-wind-daily"><span class="modal__option-icon"></span><span class="modal__option-text">Avg Wind Daily<span class="modal__option-text-small">10.1</span></span></button>
          </li>
          <li class="modal__option-item">
            <button class="modal__option-btn mod-btn" data-modal-type data-option="solar"><span class="modal__option-icon"></span><span class="modal__option-text">Solar<span class="modal__option-text-small">10.1</span></span></button>
          </li>
          <li class="modal__option-item">
            <button class="modal__option-btn mod-btn" data-modal-type data-option="min-temp"><span class="modal__option-icon"></span><span class="modal__option-text">Min Temp<span class="modal__option-text-small">5.8</span></span></button>
          </li>
          <li class="modal__option-item">
            <button class="modal__option-btn mod-btn" data-modal-type data-option="precipitation"><span class="modal__option-icon"></span><span class="modal__option-text">Precipitation<span class="modal__option-text-small">10.1</span></span></button>
          </li>
          <li class="modal__option-item">
            <button class="modal__option-btn mod-btn" data-modal-type data-option="max-humidity"><span class="modal__option-icon"></span><span class="modal__option-text">Max Humidity<span class="modal__option-text-small">10.1</span></span></button>
          </li>
          <li class="modal__option-item">
            <button class="modal__option-btn mod-btn" data-modal-type data-option="max-wind-daily"><span class="modal__option-icon"></span><span class="modal__option-text">Max Wind Daily<span class="modal__option-text-small">10.1</span></span></button>
          </li>
        </ul>
      </div>
      <div class="modal__charts m-ch"></div>
    </div>
  </div>
  <script src="js/svg4everybody.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/main.js"></script>
</body>
